.messageFieldContainer {
    padding-inline: 10px;
    padding-bottom: 10px;
}

.messageField {
    position: relative;
    display: flex;
    align-items: end;
    padding-right: 10px;
    background-color: var(--light-block-color);
    border-radius: var(--middle-border-radius);
}

textarea {
    height: 45px;
    max-height: 350px;
    padding-block: 12.5px;
    flex-grow: 1;
    line-height: 20px;
    font-size: 15px;
    background: none;
    resize: none;
    scrollbar-width: none;

    &::placeholder {
        color: var(--text-muted);
    }
}

.writeMessageIcon {
    mask-image: url('@/assets/icons/write-message.svg');
    mask-size: 16px;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--text-muted);
    aspect-ratio: 1 / 1;
    height: 45px;
}

.button {
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    height: 45px;
    width: 36px;
    transition: filter 0.2s ease;
    cursor: pointer;
}

.fileButton {
    background-image: url('@/assets/icons/file.png');
    filter: saturate(0) brightness(1.5);

    &:hover {
        filter: saturate(1);
    }
}

.favoriteButton {
    background-image: url('@/assets/icons/bookmark.png');
    filter: saturate(0) brightness(1.6);

    &:hover {
        filter: saturate(1);
    }
}

.emojiButton {
    background-image: url('@/assets/icons/smile.png');
    filter: saturate(0);

    &:hover {
        filter: saturate(1);
    }
}

.sendMessageButton {
    mask-image: url('@/assets/icons/send-message.png');
    mask-size: 16px;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--main-color);
    height: 45px;
    width: 36px;
    cursor: pointer;
    transition: filter 0.2s ease;

    &:hover {
        filter: brightness(0.8);
    }
}
