.modal {
    position: absolute;
    display: flex;
    z-index: 200;
    padding: 20px;
    flex-direction: column;
    row-gap: 20px;
    background-color: var(--light-block-color);
    border-radius: var(--block-border-radius);
}

.modalHeader {
    color: var(--light-gray-text);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    user-select: none;
}
