.chat {
    display: flex;
    flex-grow: 1;
    column-gap: var(--block-gaps);
    padding-right: var(--block-gaps);
}

.messagesWindowContainer {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 500px;
    flex-grow: 1;
    flex-direction: column;
    justify-content: end;
    background-color: var(--section-color);
    margin-block: var(--block-gaps);
    border-radius: var(--block-border-radius);
}

.chatSidebar {
    overflow: auto;
    position: relative;
    display: flex;
    width: 325px;
    flex-shrink: 0;
    flex-direction: column;
    scrollbar-width: none;
    padding-block: var(--block-gaps);
    row-gap: var(--block-gaps);
}

.top {
    display: flex;
    flex-direction: column;
    gap: var(--block-gaps);
    height: 85vh;
    min-height: 742px;
    flex-shrink: 0;

    .avatarBlock {
        aspect-ratio: 1 / 1;
        flex-shrink: 0;
        background-color: var(--section-color);
        background-size: cover;
        border-radius: var(--block-border-radius);
    }

    .channelListBlock {
        position: relative;
        min-height: 332px;
        flex-grow: 1;
        background-color: var(--section-color);
        border-radius: var(--block-border-radius);
    }
}

.groupMembersBlock {
    padding-block: 10px;
    flex-shrink: 0;
    background-color: var(--section-color);
    border-radius: var(--block-border-radius);
}

.chatFilesBlock {
    min-height: 300px;
    padding-block: 10px;
    flex-shrink: 0;
    background-color: var(--section-color);
    border-radius: var(--block-border-radius);
}

.sidebarResizer {
    left: -5px;
}
