.categories {
    display: flex;
    gap: 10px;
    padding: 10px;
    height: 60px;
}

.categoryButton {
    aspect-ratio: 1 / 1;
    height: 40px;
    border-radius: var(--middle-border-radius);
    color: var(--text-faint);

    .categoryIcon {
        height: 100%;
        width: 100%;
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: 16px;
        background-color: currentColor;
    }

    &:hover {
        color: white;
        background-color: var(--selection-color);
    }

    &.activeLink {
        color: white;
        background-color: var(--active-color);
    }

    &.direct .categoryIcon {
        mask-image: url('@/assets/icons/direct.svg');
    }

    &.groups .categoryIcon {
        mask-image: url('@/assets/icons/groups.svg');
    }
}

.categoryBanner {
    position: relative;
    display: flex;
    height: 60px;
    padding-left: 20px;
    justify-content: space-between;
    align-items: center;

    &.directCategory {
        background-color: var(--direct-category);
    }

    &.groupsCategory {
        background-color: var(--groups-category);
    }
}

.categoryName {
    font-size: 16px;
    font-weight: 400;
}
