.categories {
    display: flex;
    column-gap: 10px;
    padding: 10px;
}

.categoryButton {
    aspect-ratio: 1 / 1;
    height: 40px;
    border-radius: var(--button-border-radius);
    color: var(--text-faint);

    .categoryIcon {
        height: 100%;
        width: 100%;
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: 16px;
        background-color: currentColor;

        &.direct {
            mask-image: url('@/assets/icons/direct.svg');
        }

        &.groups {
            mask-image: url('@/assets/icons/groups.svg');
        }
    }

    &:hover {
        color: var(--primary-text);
        background-color: var(--selection-color);
    }

    &.activeLink {
        color: var(--primary-text);
        background-color: var(--active-color);
    }
}

.categoryBanner {
    position: relative;
    display: flex;
    height: 60px;
    padding-left: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
}

.categoryName {
    font-size: 16px;
    font-weight: 500;
}
