.chat-button {
    height: 50px;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    user-select: none;
    cursor: pointer;

    .avatar-block {
        background: url(/images/avatar.svg) center no-repeat;
        background-size: 80%;
        height: 50px;
        width: 50px;
    }

    &:hover {
        background-color: #1D1D1D;
    }
}

.active {
    background-color: #1D1D1D;
}