.createDmModal {
    top: 0;
    left: 100%;
    width: 320px;
    margin-left: var(--block-gaps);
}

.foundUser {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

.userInfo {
    display: flex;
    align-items: center;
    column-gap: 15px;

    .avatar {
        aspect-ratio: 1 / 1;
        height: 40px;
        flex-shrink: 0;
        background-image: url('@/assets/icons/user.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: var(--avatar-border-radius);
    }

    .username {
        font-weight: 500;
    }
}

.messageButton {
    padding-inline: 14px;
    height: 30px;
}

.errorMessage {
    width: 100%;
    text-align: center;
}
