.forms {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 250px;
    height: 600px;

    h2 {
        color: #bfbfbf;
        font-size: 24px;
        text-align: center;
    }

    .inputsContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    input {
        font-family: 'Roboto';
        font-size: 14px;
        border: none;
        outline: none;
        color: var(--white-text);
        border-radius: 5px;

        &::placeholder {
            color: var(--dark-gray-text);
        }

        &[name='username'] {
            background: url('@/assets/icons/username.svg') no-repeat left;
            background-size: 15px;
            background-position: 10px;
        }

        &[name='email'] {
            background: url('@/assets/icons/email.svg') no-repeat left;
            background-size: 15px;
            background-position: 10px;
        }

        &[name='password'] {
            background: url('@/assets/icons/password.svg') no-repeat left;
            background-size: 15px;
            background-position: 10px;
        }
    }

    input:not([type='submit']) {
        height: 35px;
        padding: 0 32px;
        background-color: #151516;
    }

    input[type='submit'] {
        height: 40px;
        font-weight: 500;
        background: none;
        border: 1px solid #474747;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
            background: #474747;
        }

        &:active {
            background: #666666;
        }
    }

    .errorMessageContainer {
        position: absolute;
        bottom: -20px;
        height: 13px;
        width: 100%;
    }

    .errorMessage {
        position: absolute;
        top: 0;
        font-size: 13px;
        padding: 0px 10px;
        color: #eee;
    }
}

@keyframes red-pulse {
    from {
        color: #ff7878;
    }

    to {
        color: #eee;
    }
}

@keyframes green-pulse {
    from {
        color: #7dff78;
    }

    to {
        color: #eee;
    }
}

.redPulse {
    animation: red-pulse 1s ease-out;
}

.greenPulse {
    animation: green-pulse 1s ease-out;
}
