.chatList {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chatButton {
    height: 64px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: 12px;
    color: var(--text-primary);
    user-select: none;
    cursor: pointer;
    padding: 9px;

    &:hover {
        background-color: var(--white-selection);
    }
}

.chatButton.activeChat {
    background-color: var(--white-selection);
}

.avatarBlock {
    background-image: url('@/assets/icons/user.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1 / 1;
    height: 46px;
    border-radius: 25px;
    flex-shrink: 0;
}

.chatInfo {
    display: flex;
    height: 100%;
    min-width: 0;
    padding-block: 3px;
    justify-content: space-between;
    flex-grow: 1;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    min-width: 0;

    .chatName {
        font-weight: 500;
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .lastMessage {
        color: var(--text-muted);
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    font-size: 12px;
    flex-shrink: 0;
    color: var(--text-muted);

    div {
        height: 17px;
        display: flex;
        align-items: center;
    }
}
