.chatList {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chatsFilterPanel {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.chatSearchContainer {
    position: relative;
    flex: 1;

    .icon {
        position: absolute;
        aspect-ratio: 1 / 1;
        height: 100%;
        mask-image: url('@/assets/icons/search.svg');
        mask-position: center;
        mask-size: 13px;
        mask-repeat: no-repeat;
        background-color: hsl(0 0 60%);
    }

    .chatSearch {
        font-size: 13px;
        width: 100%;
        height: 30px;
        border-radius: var(--input-border-radius);
        padding-left: 30px;
        background-color: var(--active-color);

        &::placeholder {
            color: hsl(0 0 60%);
        }
    }
}

.chatSort {
    display: flex;
    height: 30px;
    flex: 1;
    justify-content: end;
    align-items: center;
    column-gap: 5px;
    background-color: transparent;
    color: hsl(0 0 60%);
    user-select: none;
    cursor: pointer;

    &:hover {
        color: var(--text-primary);
    }

    .orderName {
        font-size: 13px;
    }

    .orderIcon {
        aspect-ratio: 1 / 1;
        height: 13px;
        mask-image: url('@/assets/icons/list.svg');
        mask-size: 13px;
        mask-position: center;
        mask-repeat: no-repeat;
        background-color: currentColor;
    }
}

.chatButton {
    display: flex;
    padding: 10px;
    flex-shrink: 0;
    align-items: center;
    gap: 10px;
    color: var(--text-primary);
    background-color: transparent;
    user-select: none;
    cursor: pointer;

    &:hover {
        background-color: var(--selection-color);
    }
}

.chatButton.activeChat {
    background-color: var(--active-color);
}

.avatarBlock {
    background-image: url('@/assets/icons/user.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1 / 1;
    height: 46px;
    border-radius: var(--avatar-border-radius);
    flex-shrink: 0;
}

.chatInfo {
    display: flex;
    height: 100%;
    min-width: 0;
    padding-block: 3px;
    justify-content: space-between;
    flex-grow: 1;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
    flex-grow: 1;
    min-width: 0;

    .chatName {
        font-weight: 500;
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .lastMessage {
        color: var(--text-muted);
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    font-size: 12px;
    flex-shrink: 0;
    color: var(--text-faint);

    div {
        height: 17px;
        display: flex;
        align-items: center;
    }
}
