.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(120deg, hsl(240 7% 4%), hsl(240 7% 7%));
}

.forms {
    position: relative;
    display: flex;
    overflow: hidden;
    height: 600px;
    width: 900px;
    justify-content: space-around;
    align-items: center;
    background-color: var(--light-block-color);
    border-radius: var(--block-border-radius);
}

.visualBlock {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    clip-path: xywh(50% 0% 50% 100%);

    .switchFormButton {
        position: relative;
        overflow: hidden;
        isolation: isolate;
        background-color: transparent;
        cursor: pointer;
        user-select: none;

        & > span {
            position: relative;
            display: block;
            padding-inline: 10px;
            padding-bottom: 5px;
            font-size: 48px;
            font-weight: 900;
            mix-blend-mode: difference;
        }

        & > .selection {
            position: absolute;
            width: 100%;
            bottom: 0;
            background-color: white;
        }
    }
}

.hiddenForm {
    visibility: hidden;
    pointer-events: none;
}
