.embed {
    display: block;
    overflow: hidden;
    border-radius: 12px;
}

.marginTop {
    margin-top: 5px;
}

.soundcloudWrapper {
    width: 450px;
    height: calc(150px - 4px - 16px);

    .soundcloud {
        position: relative;
        top: -4px;
    }
}

.picture {
    display: block;
    overflow: hidden;
    border-radius: 12px;

    img {
        height: 200px;
    }
}
