.messages-window-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 500px;
    background-color: #0E0E0E;
    border-radius: 5px;
    justify-content: end;
    flex-grow: 1;
}

.messages-window {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    overflow-y: auto;
}

.message-field {
    width: 100%;

    textarea {
        display: block;
        width: 100%;
        height: 46px;
        max-height: 350px;
        border: none;
        border-radius: 0 0 5px 5px;
        background-color: #0B0B0B;
        color: white;
        font-size: 15px;
        font-family: 'Roboto';
        padding: 14px;
        resize: none;

        &::placeholder {
            color: #383838;
        }
    }
}

.message {
    .message-user-info {
        margin-top: 10px;
        display: flex;
        gap: 15px;
        padding: 5px 0 5px 0;

        .avatar {
            background: url(/images/user.png) center no-repeat;
            background-size: 100%;
            height: 40px;
            width: 40px;
            margin-left: 15px;
        }

        .username-message {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &:hover {
            background-color: #0c0c0c;
        }
    }

    .username {
        font-weight: 500;
    }

    .message-text {
        color: #dadada;
        font-family: 'Roboto';

        &:hover {
            background-color: #0c0c0c;
        }
    }

    &>.message-text {
        padding: 5px 0 5px 70px;
    }
}