.embed {
    display: block;
    overflow: hidden;
    border-radius: 12px;
    z-index: 100;
}

.marginTop {
    margin-top: 5px;
}

.soundcloudWrapper {
    width: 450px;
    height: calc(150px - 4px - 16px);

    .soundcloud {
        position: relative;
        top: -4px;
        border-radius: 1px;
        z-index: 100;
    }
}

.picture {
    display: block;
    overflow: hidden;
    border-radius: 12px;

    img {
        height: 300px;
    }
}

.plug {
    position: absolute;
    z-index: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--tinted-selection);
    border-radius: 12px;
}
