.createGroupModal {
    top: 0;
    left: 100%;
    width: 320px;
    margin-left: 10px;
}

.foundUser {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
}

.userInfo {
    display: flex;
    align-items: center;
    column-gap: 15px;

    .avatar {
        aspect-ratio: 1 / 1;
        height: 40px;
        flex-shrink: 0;
        background-image: url('@/assets/icons/user.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
    }

    .username {
        font-weight: 500;
    }
}

.addUserButton {
    padding-inline: 14px;
    height: 30px;
}

.errorMessage {
    width: 100%;
    text-align: center;
}

.userList {
    display: flex;
    min-height: 113px;
    padding: 10px;
    flex-wrap: wrap;
    gap: 5px;
    align-content: start;
    background-color: hsl(0 0 0% / 0.1);
    border: 1px solid hsl(0 0 100% / 0.1);
    border-radius: var(--block-border-radius);
}

.addedUser {
    display: flex;
    height: 27px;
    padding-inline: 10px;
    align-items: center;
    column-gap: 5px;
    line-height: 1.2;
    border-radius: var(--input-border-radius);
    background-color: hsl(0 0 100% / 0.1);
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
        background-color: hsl(0 0 100% / 0.2);
    }
}

.removeUserIcon {
    aspect-ratio: 1 / 1;
    height: 12px;
    mask-image: url('@/assets/icons/cross-small.svg');
    mask-size: cover;
    background-color: var(--text-primary);
}

.groupInfo {
    display: flex;
    column-gap: 20px;
}

.groupAvatarContainer {
    aspect-ratio: 1 / 1;
    height: 60px;
    cursor: pointer;
    z-index: 0;
}

.groupAvatarBorder {
    height: 100%;
    background-color: hsl(0 0 0% / 0.1);
    border: 1px solid hsl(0 0 100% / 0.1);
    border-radius: 50%;

    .groupAvatarAddIcon {
        height: 100%;
        mask-image: url('@/assets/icons/add-image.svg');
        mask-size: 25px;
        mask-repeat: no-repeat;
        mask-position: center;
        background-color: hsl(0 0 100% / 0.1);
    }
}

.groupAvatarImage {
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.groupNameSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.groupNameText {
    font-weight: 500;
    font-size: 12px;
    color: var(--text-faint);
}

.buttons {
    display: flex;
    column-gap: 20px;

    .button {
        height: 35px;
        flex: 1;
    }
}
