.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--text-primary);
    font-weight: 500;
    border: 1px solid hsl(0 0 100% / 0.2);
    border-radius: var(--input-border-radius);
    transition: background-color 0.2s, border-color 0.2s;
    cursor: pointer;
    user-select: none;

    &:hover:not(:disabled) {
        border-color: hsl(0 0 100% / 0);
        background-color: hsl(0 0 100% / 0.2);
    }

    &:disabled {
        color: var(--text-muted);
        cursor: default;
    }
}
