.resizer {
    position: absolute;
    height: 100%;
    width: 10px;
    cursor: ew-resize;
    z-index: 100;
}

.label {
    position: fixed;
    z-index: 100;
    box-sizing: content-box;
    padding: 4px 8px;
    font-size: 12px;
    background-color: var(--tinted-selection);
    border: 1px solid var(--tinted-selection);
    border-radius: 20px;
    visibility: hidden;
}
