:root {
    --background-color: hsl(240 4% 7%);
    --section-color: hsl(240 4% 5%);
    --light-block-color: hsl(240 7% 8%);

    --avatar-border-radius: 50%; /* 50% */
    --embed-border-radius: 12px; /* 12px */
    --scroll-border-radius: 5px; /* 5px */
    --date-label-border-radius: 12px; /* 12px */

    --active-color: hsl(0 0 100% / 0.1);
    --selection-color: hsl(0 0 100% / 0.05);
    --tinted-selection: hsl(240 100% 95% / 0.05);

    --text-primary: hsl(0 0 85%);
    --light-gray-text: hsl(0 0 65%);
    --text-muted: hsl(0 0 45%);
    --text-faint: hsl(0 0 25%);

    --block-border-radius: 10px; /* 10px */
    --mini-block-border-radius: 7.5px; /* 7.5px */
    --button-border-radius: 7.5px; /* 7.5px */
    --input-border-radius: 5px; /* 5px */

    --block-gaps: 10px; /* 10px */

    --main-color-hue: 240; /* 240 */
    --main-color-saturation: 50%; /* 50% */
    --main-color-lightness: 55%; /* 55% */
    --main-color: hsl(var(--main-color-hue) var(--main-color-saturation) var(--main-color-lightness));
}
