.form {
    position: relative;
    display: flex;
    height: 65%;
    width: 250px;
    flex-direction: column;
    justify-content: space-between;

    .formHeader {
        color: var(--light-gray-text);
        font-size: 24px;
        text-align: center;
    }

    .inputsContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .input {
        height: 35px;
        padding-left: 35px;
        border-radius: var(--input-border-radius);
        background-color: hsl(240 2% 8%);
        background-repeat: no-repeat;
        background-size: 15px;
        background-position: 10px;

        &::placeholder {
            color: hsl(0 0 20%);
        }
    }

    .usernameInput {
        background-image: url('@/assets/icons/username.svg');
    }

    .emailInput {
        background-image: url('@/assets/icons/email.svg');
    }

    .passwordInput {
        background-image: url('@/assets/icons/password.svg');
    }

    .submitButton {
        height: 40px;
    }

    .errorMessageContainer {
        position: relative;
    }

    .errorMessage {
        position: absolute;
        top: 0;
        padding-inline: 10px;
        font-size: 13px;
    }
}

@keyframes red-pulse {
    from {
        color: hsl(0, 100%, 65%);
    }

    to {
        color: var(--default-text-color);
    }
}

@keyframes green-pulse {
    from {
        color: hsl(120, 100%, 65%);
    }

    to {
        color: var(--default-text-color);
    }
}

.redPulse {
    animation: red-pulse 1s ease-out;
}

.greenPulse {
    animation: green-pulse 1s ease-out;
}
