.categories {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    padding: 0px 10px;
    height: 60px;
}

.category-button {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    z-index: 2;
    filter: brightness(0.2);
    
    &.direct {
        background: url(/images/direct.png) no-repeat center;
    }

    &.groups {
        background: url(/images/groups.png) no-repeat center;
    }

    &:hover {
        filter: brightness(0.3);
    }

    &.active {
        background-color: rgb(37, 37, 37);
        filter: brightness(1);
    }
}

.category-name {
    height: 60px;
    display: flex;
    padding: 0 25px;
    align-items: center;
    background: var(--direct-category);
    color: var(--white-text);
    font-weight: 700;
    font-size: 16px;

    &.groups-category {
        background: var(--groups-category);
    }
}