.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    position: relative;
    display: flex;
    width: 325px;
    flex-shrink: 0;
    flex-direction: column;
}

.sidebarResizer {
    right: -5px;
}

.listContainer {
    position: relative;
    min-height: 0;
    flex-grow: 1;
}

.content {
    display: flex;
    flex-grow: 1;
    column-gap: var(--block-gaps);
    padding-right: var(--block-gaps);
}
