.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    position: relative;
    display: flex;
    width: 300px;
    flex-shrink: 0;
    flex-direction: column;
}

.listContainer {
    position: relative;
    min-height: 0;
    flex-grow: 1;
}

.sidebarResizer {
    right: -5px;
}

.plug {
    flex-grow: 1;
    background-color: var(--section-color);
    margin-block: var(--block-gaps);
    margin-right: var(--block-gaps);
    border-radius: var(--block-border-radius);
}
