@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-VariableFont.ttf);
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Italic-VariableFont.ttf);
    font-weight: 100 900;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto';
    font-size: 14px;
    color: white;
    overflow-y: hidden;
    background-color: #141414;
}

a {
    text-decoration: none;
}