@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    src: url('/fonts/InterVariable.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100 900;
    src: url('/fonts/InterVariable-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Emoji';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/NotoColorEmoji.woff2') format('woff2');
}

:root {
    --background-color: hsl(240 4% 7%);
    --section-color: hsl(240 4% 5%);

    --message-field-radius: 7.5px;
    --message-field-color: hsl(240 7% 8%);

    --form-color: hsl(240 4% 7%);
    --input-color: hsl(240 4% 5%);

    --white-selection: hsl(0 0 100% / 0.05);
    --tinted-selection: hsl(240 100% 95% / 0.05);
    --purple-selection: hsl(240 50% 55%);

    --dark-gray-text: hsl(0 0 20%);
    --gray-text: hsl(0 0 40%);
    --light-gray-text: hsl(0 0 75%);
    --default-text-color: hsl(0 0 95%);

    --block-border-radius: 10px;
    --button-border-radius: 5px;

    --block-gaps: 10px;

    --direct-category: hsl(240 50% 55%);
    --groups-category: hsl(270 50% 55%);

    --direct-category-gradient: linear-gradient(120deg, hsl(240 50% 55%), hsl(270 60% 55%));
    --groups-category-gradient: linear-gradient(120deg, hsl(270 50% 55%), hsl(300 50% 55%));
}

html {
    font-family: 'Inter', 'Emoji';
    font-size: 14px;
    color: var(--default-text-color);
    background-color: var(--background-color);
}

* {
    box-sizing: border-box;
}

:where(ul, ol):where([class]) {
    padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
    margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, pre):where([class]) {
    margin-block: 0;
}

:where(ul[class]) {
    list-style: none;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font: inherit;
    color: inherit;
    border: none;
    outline: none;
}
