@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-VariableFont.ttf);
}

@font-face {
    font-family: 'Inter';
    src: url(fonts/Inter-VariableFont.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #141414;
    --section-color: #0E0E0E;
    --message-field-color: #0B0B0B;

    --dark-gray-selection: #171717;
    --light-gray-selection: #1D1D1D;
    --purple-selection: #4144FF;

    --dark-gray-text: #2F2F2F;
    --gray-text: #595959;
    --light-gray-text: #838383;
    --white-text: #eeeeee;

    --direct-category: linear-gradient(120deg, #485563, #29323c);
    --groups-category: linear-gradient(120deg, #834d9b, #d04ed6);
}

html {
    font-family: 'Inter';
    font-size: 14px;
    color: white;
    overflow: hidden;
}

a {
    text-decoration: none;
}

textarea, input, button {
    font-family: 'Inter';
    outline: none;
}