.resizer {
    position: absolute;
    height: 100%;
    width: 10px;
    cursor: ew-resize;
    z-index: 200;
}

.label {
    position: fixed;
    z-index: 200;
    box-sizing: content-box;
    padding: 4px 8px;
    font-size: 12px;
    background-color: hsl(0 0 100% / 0.1);
    border-radius: 20px;
    visibility: hidden;
}
