.createChannelButton {
    position: absolute;
    right: 0;
    bottom: 0;
    aspect-ratio: 1 / 1;
    height: 50px;
    mask-image: url('@/assets/icons/plus.svg');
    mask-size: 18px;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: var(--text-primary);
    cursor: pointer;
    opacity: 0.4;

    &:hover {
        opacity: 1;
    }
}

.createChannelModal {
    position: absolute;
    display: flex;
    z-index: 100;
    right: 10px;
    bottom: 10px;
    left: 10px;
    padding: 20px;
    flex-direction: column;
    row-gap: 20px;
    background-color: var(--light-block-color);
    border-radius: var(--block-border-radius);
}

.modalName {
    color: var(--light-gray-text);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    user-select: none;
}

.inputContainer {
    position: relative;

    .icon {
        position: absolute;
        aspect-ratio: 1 / 1;
        height: 100%;
        mask-image: url('@/assets/icons/tag.png');
        mask-size: 16px;
        mask-position: center;
        mask-repeat: no-repeat;
        background-color: var(--text-faint);
    }

    .channelNameInput {
        height: 35px;
        width: 100%;
        padding-left: 35px;
        background-color: var(--input-color);
        border-radius: var(--input-border-radius);
        user-select: none;

        &::placeholder {
            color: var(--text-faint);
        }
    }
}

.radioButtons {
    display: flex;
    column-gap: 20px;
    user-select: none;
}

.radioButton {
    display: flex;
    height: 35px;
    padding-left: 10px;
    align-items: center;
    gap: 10px;
    flex: 1;
    color: var(--text-muted);
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: var(--input-border-radius);

    &:hover {
        background-color: var(--white-selection);
    }

    & > input {
        display: none;
    }
}

.radioMark {
    position: relative;
    width: 15px;
    height: 15px;
    border: 1px solid var(--text-muted);
    border-radius: 50%;
}

.radioMark::after {
    content: '';
    width: 7px;
    height: 7px;
    background-color: var(--text-primary);
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 3.5px);
    left: calc(50% - 3.5px);
    transform: scale(0);
    transition: transform 0.1s ease;
}

.activeRadioButton {
    background-color: var(--white-selection);
    color: var(--text-primary);

    .radioMark::after {
        transform: scale(1);
    }

    .radioMark {
        background-color: var(--main-color);
        border-color: var(--main-color);
    }
}

.buttons {
    display: flex;
    column-gap: 20px;
    user-select: none;
    font-weight: 500;
    color: var(--text-primary);

    .button {
        display: flex;
        height: 35px;
        justify-content: center;
        align-items: center;
        flex: 1;
        background: none;
        border: 1px solid var(--light-selection);
        border-radius: var(--input-border-radius);
        transition: background-color 0.2s, border-color 0.2s;
        cursor: pointer;

        &:hover {
            border-color: hsl(0 0% 100% / 0);
            background-color: var(--light-selection);
        }
    }
}
